<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Skills</title>
    <style>
        .right {
            float: right;
        }

        .rating_cell {
            padding: 3px;
        }

        #container {
            width: 800px;
            margin: auto;
        }

        #skills_table {
            width: 100%;
        }

        tr:nth-child(even) {
            background: #FFF;
        }

        tr:nth-child(odd) {
            background: #CCC
        }
    </style>
</head>
<body data-ng-app="RateApp">
    <div id="container">
        <h1>Skills</h1>
        <form name="new_skill_form" data-ng-controller="NewSkillController">
            <input type="text" required placeholder="Add skill..." data-ng-model="skill.name" />
            <span data-ng-repeat="rating_value in [0,1,2,3,4,5]" class="rating_cell">
                <input type="radio" name="rating_new" required
                       data-ng-value="{{rating_value}}" data-ng-model="skill.rating" />
                {{rating_value}}
            </span>
            <button class="right" data-ng-click="addSkill()" data-ng-disabled="!new_skill_form.$valid">Add skill</button>
        </form>
        <hr />
        <table id="skills_table" data-ng-controller="SkillsListController">
            <tr data-ng-repeat="skill in skills">
                <td>{{skill.name}}</td>
                <td class="right">
                    <span data-ng-repeat="rating_value in [0,1,2,3,4,5]" class="rating_cell">
                        <input type="radio" data-ng-value="{{rating_value}}" data-ng-model="skill.rating"
                               data-ng-change="updateSkillRating(skill.id, skill.rating, {{skill.rating}})" />
                        {{rating_value}}
                    </span>
                    <button data-ng-click="deleteSkill(skill.id)">X</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("RateApp", []);
        app.service("SkillsService", function ($http) {

            var hasStatusCode = function (response, statusCode) {
                return response.data != null && response.data.statusCode == statusCode;
            };

            var displayError = function (response) {
                if (response.status == -1) {
                    window.alert("Skills service unavailble.");
                }
                else {
                    window.alert("HTTP Status Code: " + response.data.statusCode + "\n" +
                        "Error Message: " + response.data.message);
                }
            };

            var displayOutOfSyncMessage = function () {
                window.alert("Out of sync with skills service, refreshing skills.");
            }

            var refreshSkills = function () {
                $http.get(apiUrl + "/skills")
                    .then(function success(response) {
                        skills.splice(0, skills.length);
                        skills.push(...response.data);
                    }, displayError);
            };

            var apiUrl = "___SKILLS_API_URL___";
            var skills = [];

            refreshSkills();

            this.getSkills = function () {
                return skills;
            };
            this.addSkill = function (skill) {
                $http.post(apiUrl + "/skills", skill)
                    .then(function success(response) {
                        skills.push(response.data);
                    }, function error(response) {
                        if (hasStatusCode(response, 409)) {
                            refreshSkills();
                            displayOutOfSyncMessage();
                        }
                        else {
                            displayError(response);
                        }
                    });
            };
            this.deleteSkill = function (id) {
                var index = skills.findIndex(skill => skill.id == id);
                if (index != -1) {
                    $http.delete(apiUrl + "/skills/" + id)
                        .then(function success(response) {
                            skills.splice(index, 1);
                        }, function error(response) {
                            if (hasStatusCode(response, 404)) {
                                refreshSkills();
                                displayOutOfSyncMessage();
                            }
                            else {
                                displayError(response);
                            }
                        });
                }
            };
            this.updateSkillRating = function (id, rating, oldRating) {
                $http.put(apiUrl + "/skills/" + id + "/" + rating)
                    .then(function success(response) {
                    }, function error(response) {
                        if (hasStatusCode(response, 404)) {
                            refreshSkills();
                            displayOutOfSyncMessage();
                        }
                        else {
                            skills.find(skill => skill.id == id).rating = oldRating;
                            displayError(response);
                        }
                    });
            };
        });
        app.controller("NewSkillController", function ($scope, SkillsService) {
            var init = function () {
                $scope.skill = {
                    name: null,
                    rating: null
                };
            };

            init();

            $scope.addSkill = function () {
                var nameAvailable = SkillsService.getSkills().findIndex(skill => skill.name == $scope.skill.name) == -1;
                if (!nameAvailable) {
                    window.alert("A skill named " + $scope.skill.name + " already exists.");
                    return;
                }

                SkillsService.addSkill($scope.skill);
                init();
            };
        });
        app.controller("SkillsListController", function ($scope, SkillsService) {
            $scope.skills = SkillsService.getSkills();

            $scope.updateSkillRating = function (id, rating, oldRating) {
                SkillsService.updateSkillRating(id, rating);
            };
            $scope.deleteSkill = function (id) {
                SkillsService.deleteSkill(id);
            };
        });
    </script>
</body>
</html>